/CommandCalculadora/nbproject/private/
/Patterns/InterfacesPizza/build/
/Patterns/InterfacesPizza/dist/
/Patterns/PizzaDecorator/build/
/CommandCalculadora/build/
/Patterns/Calabresa/build/
/Patterns/Calabresa/dist/
/Frango/nbproject/private/
/Frango/build/
/Frango/dist/
/20172/nbproject/private/
/20172/build/
/Calabresa/nbproject/private/
/Calabresa/build/
/Calabresa/dist/
/Patterns/PizzaDecorator/dist/
/Patterns/Unidade2/Provas/20151/nbproject/private/
/Patterns/Unidade2/Provas/20151/build/
/Patterns/Unidade2/Provas/20161/nbproject/private/
/Patterns/Unidade2/Provas/quetao1/nbproject/private/
/Patterns/Unidade2/Provas/quetao1/build/
/Patterns/Unidade2/Provas/20161/build/
/Patterns/Unidade2/Provas/20162/nbproject/private/
/Patterns/Unidade2/Provas/20162/build/
/Patterns/Unidade2/Provas/20171/nbproject/private/
/Patterns/Unidade2/Provas/20171/build/
/Patterns/Unidade2/Provas/20181/nbproject/private/
/Patterns/Unidade2/decoratorPizza/build/
/Patterns/Unidade2/Provas/20181/build/
/Patterns/Unidade2/Provas/20182/nbproject/private/
/Patterns/Unidade2/Provas/20182/build/
/Patterns/Unidade3/Interpreter/nbproject/private/
/Patterns/Unidade3/Interpreter/build/
/Patterns/Unidade3/IteratorAluno/nbproject/private/
/Patterns/Unidade3/Iterator/nbproject/private/
/Patterns/Unidade3/Iterator/build/
/Patterns/Unidade3/InternetConnetion/nbproject/private/
/Patterns/Unidade3/InternetConnetion/build/
/Patterns/Unidade3/Observer/nbproject/private/
/Patterns/Unidade3/Observer/build/
/Patterns/Unidade3/TemplateMethod/nbproject/private/
/Patterns/Unidade3/TemplateMethod/build/
/Patterns/Unidade3/20162/nbproject/private/
/Patterns/Unidade3/20171/nbproject/private/
/Patterns/Unidade3/20171/build/
/Patterns/Unidade3/20172/nbproject/private/
/Patterns/Unidade3/20181/nbproject/private/
/Patterns/Unidade3/20181/build/