/CommandCalculadora/nbproject/private/
/Patterns/InterfacesPizza/build/
/Patterns/InterfacesPizza/dist/
/Patterns/PizzaDecorator/build/
/CommandCalculadora/build/
/Patterns/Calabresa/build/
/Patterns/Calabresa/dist/
/Frango/nbproject/private/
/Frango/build/
/Frango/dist/
/20172/nbproject/private/
/20172/build/
/Calabresa/nbproject/private/
/Calabresa/build/
/Calabresa/dist/
/Patterns/PizzaDecorator/dist/